.App {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#openseadragon {
  width: 800px;
  height: 600px;
}

@import url('https://openseadragon.github.io/css/style.css')
