.App {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#openseadragon {
  width: 800px;
  height: 600px;
}

.sliders {
  display: flex;
}

.hema,
.eosin {
  display: flex;
  flex-direction: column;
}

.osd-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

/* @import url('https://openseadragon.github.io/css/style.css') */
